.header__container{
    background-image: url('../images/abstract-background-with-red-lines\ 1.jpg');
    background-color: rgb(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: contain;

    max-width: 1600px;
}


.header__container{ 
   @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} 
}
