@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --accent-color: #ff6b08;
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --secondary-text-color: #ffffff;
  --main-background-color: #ffffff;
  --third-text-color: #ff6b01;
  --light-linear-gradient: linear-gradient(rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56));
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
body {
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
}
button {
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 310px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 734px;
  }

  @media screen and (min-width: 1024px) {
    width: 989px;
  }
}