.container-library {
    padding-top: 40px;
    padding-bottom: 61px;

    @media screen and (min-width: 768px) {
        padding-bottom: 59px;
    }
}

.header-library {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @media screen {
        background-image: var(--light-linear-gradient),
            url('../images/library-header-background/library-header320.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--light-linear-gradient),
                url('../images/library-header-background/library-header320@2x.jpg');
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image: var(--light-linear-gradient),
            url('../images/library-header-background/library-header768.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--light-linear-gradient),
                url('../images/library-header-background/library-header768@2x.jpg');

        }
    }

    @media screen and (min-width: 1280px) {
        background-image: var(--light-linear-gradient),
            url('../images/library-header-background/library-header1280.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--light-linear-gradient),
                url('../images/library-header-background/library-header1280@2x.jpg');
        }
    }
}

.header-library__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.header-library__nav--list {
    display: flex;

}

.header-library__nav--item {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: #0000;

    border-style: none;

    &:first-child {
        margin-right: 39px;
    }
}

.header-library__nav--link {
    text-decoration: non;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.16;
    color: #fff;
}


.library__button-text {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    line-height: 1.167;
}

.header-library__hero--list {
    display: flex;
    justify-content: center;
}

.header-library__hero--item:first-child {
    margin-right: 20px;

    @media (min-width: 768px) {
        margin-right: 32px;
    }

    @media (min-width: 1280px) {
        margin-right: 16px;
    }
}

.header-library__hero--button {
    width: 129.5px;
    height: 44px;
    padding-top: 2.5px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;

    @media (min-width: 768px) {
        width: 152px;
    }

    @media (min-width: 1280px) {
        width: 147px;
        height: 42px;
    }

    text-transform: uppercase;
    font-weight: 400;

    background-color: #0000;
    color: var(--secondary-text-color);
    border: 1px solid var(--main-background-color);

    &:hover,
    &:focus {
        background-color: var(--third-text-color);
        border: none;
        filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    }
}

.currentbtn {
    background-color: var(--third-text-color);
    border: none;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.current {
    position: relative;

    height: 100%;

    transition-property: color;
    transition-duration: 250ms;

    //transition-timing-function: $transition-timing-function;
    &::after {
        content: ' ';
        position: absolute;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--third-text-color);
    }
}

.header-lib-logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;

    &__svg {
        margin-right: 7px;

        @media screen and (min-width: 1280px) {
            margin-right: 10px;
        }
    }
}