// 
.tui-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tui-page-btn{

    @media screen and (max-width:767px){
      margin: 5px;
      margin-top: 30px;
      height: 30px;
      width:30px;
    }

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: bolder;

    transition: background-color 250ms linear;
    &:hover{
      width: 40px;
      height: 40px;
      margin: 20px;
      border-radius: 5px;
      color: #fff;
    
    background: #FF6B08;
    }
  }
  
  .tui-pagination .tui-is-selected, .tui-pagination strong {
    color: #fff;
    
    background: #FF6B08;
   
  }
  
  .tui-prev,
  .tui-next{
    display: none;
  }

  .tui-next-is-ellip,
  .tui-prev-is-ellip{
    @media screen and (max-width:767px) {
      display: none;
    }
  }