/*
// класс на список ul в галерее фильмов
.films {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-bottom: -32px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: -16px;
    }
}
*/

.films__item {
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    width:100%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 250ms var(--main-cubic);

    &:hover {
        box-shadow: 7px -7px 21px rgba(153, 153, 152, 0.6);

        & .films__img {
            opacity: 0.7;
        }
    }

    @media screen and (max-width: 767.98px) {
        max-width: 336px;
        margin-left: auto;
        margin-right: auto;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 64px) / 2);
        margin-left: 32px;
        margin-bottom: 32px;
        max-width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 48px) / 3);
        margin-left: 16px;
    }
}

.films__img {
    opacity: 1;
    transition: box-shadow 250ms var(--main-cubic);

    &>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.films__description {
    padding: 10px 5px 2px;

    @media screen and (min-width: 768px) {
        padding-top: 8px;
    }
}

.films__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 2px;

    @media screen and (min-width: 768px) {
        line-height: 1.33;
    }
}

.films__meta {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--accent-color);
}

/*
.films__data::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--accent-color);
}
*/

.films__sep {
    margin-left: 5px;
    margin-right: 5px;
    color: var(--accent-color);
}