<header class="header" id="header">
  <div class="header-film__container container">
    <div class="header-film__main-wraper">
      <div class="header-film__logo">
        <a class="header-film__logo-link" href="/src/index.html">
          <span class="header-film__logo-name">Filmoteka</span>
          <svg class="header-film__logo-svg" width="24px" height="24px">
            <use href="/src/images/header.svg#icon-film-logo"></use>
          </svg>
        </a>
      </div>

      <nav class="header-film__navigation">
        <ul class="header-film__navigation-button">
          <li class="header-film__navigation-item">
            <a
              class="header-film__navigation-link main-current"
              href="/src/index.html"
              target="_self"
              >Home</a
            >
          </li>
          <li class="header-film__navigation-item">
            <a
              class="header-film__navigation-link"
              href="/src/library.html"
              target="_self"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-film__search-wraper">
      <form class="header-film__form">
        <input
          type="text"
          name="Movie search"
          placeholder="Movie search"
          class="header-film__input"
          autofocus
        />
        <button type="submit" class="header__form-search">
          <!-- <img src="/src/images/search2.png" alt="search-logo" > -->
          <svg class="header__search-icon" width="17" height="17">
            <use href="/src/images/search2.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="header-film__warning-msg visually-hidden">

      Search result not successful. Enter the correct movie name
    </p>
  </div>
</header>
