<header class="header" id="header"> 
    <div class="header__container">
    <nav class=" header__navigation"> 
      
            <a class="header__navigation-logo" href="#"> <span class="header__logo-name">Filmoteka</span>
             <svg class="header__logo-icon" width ="24px" height = "24px"> 
               <use href="/src/images/film.svg#icon-logo"></use>
             </svg>
             </a>

           <div>
            <form>
              <input type="text" name="Movie search" placeholder="Movie search" autofocus />
            <button type="submit" class="header__form-search">
                <svg class="header__logo-search" width="12px" height="12px"> 
                    <use href="/src/images/search 2.svg#icon-search"></use>
                </svg>
            </button>
          </div>

           <ul class="header__navigation-button">
            <li class="header__navigation-item">
                <a class="header__navigation-link" href="#">Home</a>
            </li>
            <li class="header__navigation-item"> 
                <a class="header__navigation-link" href="/src/library.html" target="_self">My Library</a>
            </li>
           </ul>

    </nav>
    </div>
</header>