<div class="footer-backdrop is-hidden" data-modal-footer>
  <div class="footer-modal">
    <button class="footer-modal__closeBtn" type="button">
      <svg
        class="close-icon"
        width="15"
        height="15"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/src/images/close-icon.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="team-tittle">Developers team</h2>
    <ul class="developer__list">
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Vitalii.jpg"
          alt="Vitalii Shevchenko"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/gradussus"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use
                  class="close-icon--vector"
                  href="/src/images/github.svg#icon-github"
                ></use></svg></a>
            <p class="developer__name">Vitalii Shevchenko</p>
          </div>
          <p class="developer__role">Team Lead</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Nataliia.jpg"
          alt="Natalia Davydenko"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/NataliaDavydenko"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Natalia Davydenko</p>
          </div>
          <p class="developer__role">Scrum master</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Oleksandr.jpg"
          alt="Alex Herbin"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/AlexHerbin"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Alex Herbin</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>

      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Daria.jpg"
          alt="Daria Sliusar"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/darinacat87"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Daria Sliusar</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Anna.jpg"
          alt="Anna Sobova"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/AnnaSobova"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Anna Sobova</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Volodimir.jpg"
          alt="Vladimir Korolkov"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/voprim"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Vladimir Korolkov</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Natalia.jpg"
          alt="Nataliia Yukhnenko"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/Natali2721"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Nataliia Yukhnenko</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/MykolaPom.jpg"
          alt="Mykola Pomazanov"
          class="developers__photo"
        />
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/MykolaPom"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link"
            >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Mykola Pomazanov</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Olena.jpg"
          alt="Olena Kryvtsova"
          class="developers__photo"/>
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/LenaK513"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link">
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Olena Kryvtsova</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
      <li class="developer__item">
        <img
          loading="lazy"
          src="/src/images/developers-photo/Fedor.jpg"
          alt=""
          class="developers__photo"/>
        <div class="developer__wraper">
          <div class="developer__main-info">
            <a
              href="https://github.com/Ghozzty"
              class="developer__social"
              target="_blank"
              aria-label="GitHub-link" >
              <svg class="developer__social--Git" width="20" height="20">
                <use href="/src/images/github.svg#icon-github"></use></svg></a>
            <p class="developer__name">Fedor Fedor</p>
          </div>
          <p class="developer__role">FullStack Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script src="/src/js/NataliaDavydenko.js"></script>
