<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__button">
      <svg class="modal__icon" width="20px" height="20px">
        <use href="/src/images/close.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__wrap">
      <div class="image__wrap">
        <img class="image" src="/src/images/cat.jpg" alt="" />
      </div>
      <div class="description__wrap">
        <h1 class="description__title">TITLE</h1>
        <table>
          <tr class="table__wrap">
            <td class="description__table">Vote / Votes</td>
            <td class="description__table-result">
              <span class="votes">7.6</span> /1260
            </td>
          </tr>
          <tr class="table__wrap">
            <td class="description__table">Popularity</td>
            <td class="description__table-result">120.6</td>
          </tr>
          <tr class="table__wrap">
            <td class="description__table">Original Title</td>
            <td class="description__table-result">A FISTFUL OF LEAD</td>
          </tr>

          <tr class="table__wrap">
            <td class="description__table">Genre</td>
            <td class="description__table-result">Western</td>
          </tr>
        </table>
        <p class="descrption__about">ABOUT</p>
        <p class="description__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea omnis
          corrupti numquam ad doloremque! Cumque dolor architecto aspernatur ad
          repellat, rem consectetur repellendus natus voluptas debitis placeat
          labore autem sit?Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Nobis quis, perspiciatis, doloremque temporibus cupiditate ullam
          omnis debitis, vero perferendis eos quasi veritatis qui unde in
          necessitatibus nostrum! Amet, debitis velit!
        </p>
        <div class="btn__wrap">
          <button class="btn btn__modal-add">add to Watched</button>
          <button class="btn btn__modal-queue">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
