<footer>
    <div class="container">
        <div class="footer">
            <p class="footer__txt">&copy; 2022 | All Rights Reserved |</p>
            <div class="footer__box">
                <p class="footer__txt">Developed with</p>
                <img src="./images/heart.svg" alt="heart" class="footer__icon" />
                <p class="footer__txt ">by <button class="footer__team-btn" type="button"><span class="js-team footer__txt">GoIT Students</span></button></p>
            </div>
        </div>
    </div>
    <a class="scroll-btn" href="#header" style="display:none">
        <svg class="scroll-btn__svg" width="14" height="14">
            <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
        </svg>
    </a>
</footer>